body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #fff;
}

.contact-section {
  padding: 50px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #2563eb;
  margin-bottom: 10px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #2563eb;
  margin: 8px auto 0;
  border-radius: 2px;
}

.section-subtitle {
  color: #bbb;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-info, .contact-form {
  background: #192638;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: left;
}

.contact-info h3, .contact-form h3 {
  margin-bottom: 15px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  background:#2563eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-row {
  display: flex;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #0e1b2a;
  color: #fff;
  font-size: 14px;
}

button {
  background:#2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background:#132650;
}
